@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(119, 119, 251);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header{
    margin: 20px;
}

section{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 500px;
    height: auto;
}

#tab{
    width: 140px;
    margin-top: 5px;
    margin-left: 5px;
}

#finalizar{
    margin-left: 5px;
}

div{
    padding: 5px;
}

footer{
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}